<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>face recognition app</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="index--header">
      <div class="top-header">
        <h1>FACE RECOGNITION APP</h1>
      </div>
      <p class="hint-txt">
        <code>
          by clicking on <span class="btn-rep">CHECK</span> button, you can
          check the clasification of the persons photo using our custum trained
          model.
        </code>
      </p>
    </header>
    <section class="index--main--section">
      <div class="container">
        <div class="items">
          <div class="images image--1">
            <form class="content" action="/home" method="post">
              <img
                class="my-button"
                src="static\image\abreham-dessie--01.jpg"
              />
              <input
                type="hidden"
                name="imagePath"
                value="static\image\abreham-dessie--01.jpg"
              />
              <input class="button-recognize" type="submit" value="CHECK" />
            </form>
          </div>
        </div>
        <div class="items">
          <div class="images image--2">
            <form class="content" action="/home" method="post">
              <img
                class="my-button"
                src="static\image\ashenafi-yirgalem--02.jpg"
              />
              <input
                type="hidden"
                name="imagePath"
                value="static\image\ashenafi-yirgalem--02.jpg"
              />
              <input class="button-recognize" type="submit" value="CHECK" />
            </form>
          </div>
        </div>
        <div class="items">
          <div class="images image--3">
            <form class="content" action="/home" method="post">
              <img class="my-button" src="static\image\habtamu-wale--01.jpg" />
              <input
                type="hidden"
                name="imagePath"
                value="static\image\habtamu-wale--01.jpg"
              />
              <input class="button-recognize" type="submit" value="CHECK" />
            </form>
          </div>
        </div>
        <div class="items">
          <div class="images image--4">
            <form class="content" action="/home" method="post">
              <img class="my-button" src="static/image/amare-chanie--01.jpg" />
              <input
                type="hidden"
                name="imagePath"
                value="static/image/amare-chanie--01.jpg"
              />
              <input class="button-recognize" type="submit" value="CHECK" />
            </form>
          </div>
        </div>
        <div class="items">
          <div class="images image--5">
            <form class="content" action="/home" method="post">
              <img class="my-button" src="static\image\tadla-eshetie--01.jpg" />
              <input
                type="hidden"
                name="imagePath"
                value="static\image\tadla-eshetie--01.jpg"
              />
              <input class="button-recognize" type="submit" value="CHECK" />
            </form>
          </div>
        </div>
        <div class="items">
          <div class="images image--6">
            <form class="content" action="/home" method="post">
              <img
                class="my-button"
                src="static\image\ashenafi-yirgalem--01.jpg"
              />
              <input
                type="hidden"
                name="imagePath"
                value="static\image\ashenafi-yirgalem--01.jpg"
              />
              <input class="button-recognize" type="submit" value="CHECK" />
            </form>
          </div>
        </div>
        <div class="items">
          <div class="images image--7">
            <form class="content" action="/home" method="post">
              <img
                class="my-button"
                src="static\image\abreham-dessie--02.jpg"
              />
              <input
                type="hidden"
                name="imagePath"
                value="static\image\abreham-dessie--02.jpg"
              />
              <input class="button-recognize" type="submit" value="CHECK" />
            </form>
          </div>
        </div>
        <div class="items">
          <div class="images image--8">
            <form class="content" action="/home" method="post">
              <img class="my-button" src="static\image\amare-chanie--02.jpg" />
              <input
                type="hidden"
                name="imagePath"
                value="static\image\amare-chanie--02.jpg"
              />
              <input class="button-recognize" type="submit" value="CHECK" />
            </form>
          </div>
        </div>
        <div class="items">
          <div class="images image--9">
            <form class="content" action="/home" method="post">
              <img class="my-button" src="static\image\tadla-eshetie--02.jpg" />
              <input
                type="hidden"
                name="imagePath"
                value="static\image\tadla-eshetie--02.jpg"
              />
              <input class="button-recognize" type="submit" value="CHECK" />
            </form>
          </div>
        </div>
        <div class="items">
          <div class="images image--10">
            <form class="content" action="/home" method="post">
              <img class="my-button" src="static\image\habtamu-wale--02.jpg" />
              <input
                type="hidden"
                name="imagePath"
                value="static\image\habtamu-wale--02.jpg"
              />
              <input class="button-recognize" type="submit" value="CHECK" />
            </form>
          </div>
        </div>
        <div class="items">
          <div class="images image--11">
            <form class="content" action="/home" method="post">
              <img class="my-button" src="static\image\habtamu-wale--03.jpg" />
              <input
                type="hidden"
                name="imagePath"
                value="static\image\habtamu-wale--03.jpg"
              />
              <input class="button-recognize" type="submit" value="CHECK" />
            </form>
          </div>
        </div>
        <div class="items">
          <div class="images image--12">
            <form class="content" action="/home" method="post">
              <img class="my-button" src="static\image\amare-chanie--03.jpg" />
              <input
                type="hidden"
                name="imagePath"
                value="static\image\amare-chanie--03.jpg"
              />
              <input class="button-recognize" type="submit" value="CHECK" />
            </form>
          </div>
        </div>
        <div class="items">
          <div class="images image--13">
            <form class="content" action="/home" method="post">
              <img class="my-button" src="static\image\tadla-eshetie--03.jpg" />
              <input
                type="hidden"
                name="imagePath"
                value="static\image\tadla-eshetie--03.jpg"
              />
              <input class="button-recognize" type="submit" value="CHECK" />
            </form>
          </div>
        </div>
        <div class="items">
          <div class="images image--14">
            <form class="content" action="/home" method="post">
              <img
                class="my-button"
                src="static\image\abreham-dessie--03.jpg"
              />
              <input
                type="hidden"
                name="imagePath"
                value="static\image\abreham-dessie--03.jpg"
              />
              <input class="button-recognize" type="submit" value="CHECK" />
            </form>
          </div>
        </div>
        <div class="items">
          <div class="images image--15">
            <form class="content" action="/home" method="post">
              <img
                class="my-button"
                src="static\image\ashenafi-yirgalem--03.jpg"
              />
              <input
                type="hidden"
                name="imagePath"
                value="static\image\ashenafi-yirgalem--03.jpg"
              />
              <input class="button-recognize" type="submit" value="CHECK" />
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer class="index--footer"></footer>
  </body>
</html>
